:root {
  /* Paleta Primária */
  --color-background: #000000; /* Fundo principal */
  --color-text: #cccccc; /* Cor do texto */
  --color-highlight: #daff01; /* Cor de destaque */
  --color-accent: #9353ff; /* Cor de destaque secundário */

  /* Paleta Complementar (para banners) */
  --color-banner-primary: #ee6471; /* Cor principal dos banners */
  --color-banner-secondary: #f87f46; /* Cor secundária dos banners */
}

.texto-menor {
  font-size: 0.8125rem;
}

.divs-facilidades {
  width: 325px;
}

.div-novidades {
  width: 325px;
}

.color-bg-pr {
  background-color: var(--color-background) !important;
  color: #ffffff !important;
}

.botao-lilas {
  background-color: var(--color-accent) !important;
}

.verde-limao {
  color: var(--color-highlight);
}

.posicao {
  top: 40%;
}

@media (min-width: 768px) {
  .div-novidades {
    width: 696px;
  }

  .posicao {
    top: 60%;
  }
}
